.gallary {
  @mixin wh 100%, auto;

  display: none;
  gap: 1em;
  padding: 0 1em;

  opacity: 0;
  transform-style: preserve-3d;
  perspective: 1000;

  &_active {
    display: none;
  }

  &__item {
    @mixin wh 100%, auto;
    @mixin pos relative;

    padding-top: 100%;

    background-color: red;

    & > img {
      @mixin pos absolute, 0, auto, auto, 0; 
      @mixin wh 100%, 100%;

      display: block;

      object-fit: cover;
    }
  }
}
